
.diseños {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.diseños_fotos {
    width: 200px;
    height: 200px;
    margin: 10px;
    transition: all 300ms;
    &:hover{
        transform: scale(1.5);
        }
}
