@charset "UTF-8";
.tabla {
  display: flex;
  justify-content: center;
  color: blueviolet;
  margin-bottom: 50px;
  margin-top: 50px;
  transition: all 300ms; }
  .tabla:hover {
    transform: scale(1.3); }

.tabla_contenido {
  padding: 10px;
  border: 1px;
  border-color: blueviolet;
  border-style: double;
  font-style: oblique;
  font-weight: bold;
  background-color: azure; }

.diseños {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.diseños_fotos {
  width: 200px;
  height: 200px;
  margin: 10px;
  transition: all 300ms; }
  .diseños_fotos:hover {
    transform: scale(1.5); }

.contacto, .mapa {
  display: flex;
  justify-content: center; }

.contacto_fuente {
  color: blueviolet;
  padding: 5px;
  background-color: azure;
  margin: 5px;
  transform: translateY(-25px);
  text-decoration: none;
  transition: all 300ms; }
  .contacto_fuente:hover {
    transform: scale(1.3); }

.formulario {
  background-color: #f0ffff; }

.btenviar {
  background-color: blueviolet; }

.texto_sobremi {
  color: blueviolet; }

.sobremi {
  display: flex;
  justify-content: center;
  font-style: inherit;
  font-size: x-large;
  margin-right: 14px;
  margin-left: 14px; }

.diplomas {
  width: 300px;
  height: 300px;
  margin: 10px;
  transition: all 300ms; }
  .diplomas:hover {
    transform: scale(1.3); }

.principal_dipolomas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62, 5%; }

h1 {
  color: blueviolet;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 4rem;
  margin: 50px; }

h2 {
  color: blueviolet;
  display: flex;
  justify-content: center;
  margin: 50px;
  font-style: oblique;
  font-size: xx-large; }

ul {
  list-style-type: none; }

.encabezado {
  grid-area: header; }

.contenedor {
  background-color: pink; }

.encabezado_menu_botones {
  color: blueviolet;
  padding: 5px;
  margin-right: 30px;
  margin-left: 30px;
  font-size: x-large;
  font: oblique;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  display: flex;
  justify-items: center;
  transition: all 300ms; }
  .encabezado_menu_botones:hover {
    transform: scale(1.5); }

.navbar a {
  color: blueviolet; }

.navbar img {
  height: 45px;
  width: 45px; }

.principal {
  grid-area: main; }

.principal_imagen {
  display: flex;
  justify-content: center; }

.principal__imagen1 {
  width: 800px;
  height: 400px; }

.hr {
  margin: 20px;
  color: blueviolet;
  padding: 1px;
  border-color: blueviolet;
  background-color: blueviolet; }

.slide {
  margin-top: 10px;
  margin-bottom: 60px; }
  .slide img {
    height: 65vh; }

/* FOOTER */
.footer {
  grid-area: footer; }

.footer_creditos {
  display: flex;
  flex-direction: row;
  color: blueviolet;
  margin: 10px; }

.footer_menu {
  display: flex;
  justify-content: end;
  margin: 10px; }

.footer_menu_botones {
  margin: 10px;
  color: blueviolet;
  text-decoration: none; }

.encabezado__iconos1 {
  position: fixed;
  right: 50px;
  top: 5px;
  z-index: 0;
  transition: all 300ms; }
  .encabezado__iconos1:hover {
    transform: scale(1.5); }

.encabezado__iconos2 {
  position: fixed;
  right: 10px;
  top: 5px;
  z-index: 0;
  transition: all 300ms; }
  .encabezado__iconos2:hover {
    transform: scale(1.5); }

/* Tablet RD (responsive design) */
@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header " "main " "footer "; }
  .principal h2 {
    display: flex;
    justify-content: center; }
  .footer_menu {
    display: flex;
    justify-content: center; }
  .footer_creditos {
    display: flex;
    justify-content: center; }
  .consultas {
    margin: 10px;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 2, 1fr;
    grid-template-areas: "consultas " "formulario"; }
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: formulario;
    margin: 14px; }
  .map {
    margin: 14px; } }

/* CELULAR RD */
@media screen and (max-width: 500px) {
  .contenedor {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header " "main " "footer "; }
  .principal h2 {
    display: flex;
    justify-content: center; }
  .footer_menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .footer_creditos {
    display: flex;
    justify-content: center; }
  .consultas {
    margin: 10px;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: 2, 1fr;
    grid-template-areas: "consultas " "formulario"; }
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: formulario;
    margin: 14px; }
  .map {
    margin: 14px; }
  .encabezado ul {
    display: flex;
    flex-direction: column; }
  .texto_sobremi {
    text-align: start; }
  .slide {
    margin-top: 10px;
    margin-bottom: 60px; }
    .slide img {
      height: 60vh;
      width: 0vh; } }
